hostname r26
username cisco
 group root-lr
 group cisco-support
 secret 10 $6$GXFSDMYr1txD....$09ETAo1VMaFVXEu9HMDuV9y8fpXbZIHhgWe8nqvxotAaOOaTCxsC8QBzp3g1aVHFZUOtPuLFeLOaL.XsIpQHw.
!
grpc
 port 57400
 no-tls
 address-family ipv4
 service-layer
 !
!
telemetry model-driven
 destination-group jalapeno
  address-family ipv4 10.251.251.1 port 32400
   encoding self-describing-gpb
   protocol grpc no-tls
  !
 !
 sensor-group cisco_models
  sensor-path Cisco-IOS-XR-pfi-im-cmd-oper:interfaces/interface-xr/interface
  sensor-path Cisco-IOS-XR-fib-common-oper:mpls-forwarding/nodes/node/label-fib/forwarding-details/forwarding-detail
 !
 sensor-group openconfig_interfaces
  sensor-path openconfig-interfaces:interfaces
 !
 subscription base_metrics
  sensor-group-id cisco_models sample-interval 10000
  sensor-group-id openconfig_interfaces sample-interval 10000
  destination-id jalapeno
 !
!         
tpa
 vrf default
  address-family ipv4
   default-route mgmt
   update-source dataports Loopback0
  !
 !
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
netconf-yang agent
 ssh
!
interface Loopback0
 ipv4 address 10.0.0.26 255.255.255.255
 ipv6 address fc00:0:f026::1/126
!
interface MgmtEth0/RP0/CPU0/0
 description mgt  
 ipv4 address 10.251.251.126 255.255.255.0
 no shut
!
interface GigabitEthernet0/0/0/0
 description to vm-1
 ipv4 address 10.10.25.2 255.255.255.0
 ipv6 address 2001:1:10:25::2/120
  no shut
!
interface GigabitEthernet0/0/0/1
 description to vm-2
 ipv4 address 10.10.26.2 255.255.255.0
 ipv6 address 2001:1:10:26::2/120
  no shut
!
interface GigabitEthernet0/0/0/2
 description to r27
 ipv4 address 10.1.2.11 255.255.255.264
 ipv6 address 2001:1:1:1::11/126
  no shut
!
interface GigabitEthernet0/0/0/3
 description to r28
 ipv4 address 10.1.2.15 255.255.255.264
 ipv6 address 2001:1:1:1::15/126
  no shut
!
interface GigabitEthernet0/0/0/4
 description to r29
 ipv4 address 10.1.2.19 255.255.255.264
 ipv6 address 2001:1:1:1::19/126
  no shut
!
interface GigabitEthernet0/0/0/5
 description to r26
 ipv4 address 10.1.2.23 255.255.255.264
 ipv6 address 2001:1:1:1::23/126
  no shut
!
route-policy SID($SID)
  set label-index $SID
end-policy
!
route-policy drop
  drop
end-policy
!         
route-policy pass
  pass
end-policy
!
router isis 100
 is-type level-2-only
 net 49.0901.0000.0000.0026.00
 distribute link-state level 2
 nsf ietf
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  maximum-paths 32
  segment-routing mpls
 !
 address-family ipv6 unicast
  metric-style wide
  advertise link attributes
  maximum-paths 32
  segment-routing srv6
   locator MAIN
   !
  !
 !
 interface Loopback0
  passive
  address-family ipv4 unicast
   prefix-sid index 26
  !
  address-family ipv6 unicast
  !
 !
 interface GigabitEthernet0/0/0/0
  passive
  address-family ipv4 unicast
  !
  address-family ipv6 unicast
  !
 interface GigabitEthernet0/0/0/1
  passive
  address-family ipv4 unicast
  !
  address-family ipv6 unicast
  !
 interface GigabitEthernet0/0/0/2
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
 interface GigabitEthernet0/0/0/3
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 interface GigabitEthernet0/0/0/4
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
 interface GigabitEthernet0/0/0/5
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
!
router bgp 65000
 bgp router-id 10.0.0.26
 segment-routing srv6
  locator MAIN
 !
 bgp bestpath as-path multipath-relax
 address-family ipv4 unicast
  additional-paths receive
  maximum-paths ebgp 32
  network 10.0.0.26/32 route-policy SID(26)
  allocate-label all
 !
 address-family vpnv4 unicast
  retain route-target all
 !
 address-family ipv6 unicast
  additional-paths receive
  maximum-paths ebgp 32
  network fc00:0:f026::1/126
 !
 address-family vpnv6 unicast
 !
 neighbor 10.0.0.27
  remote-as 65000
  description iBGP to r27
  update-source Loopback0
  address-family ipv4 unicast
   route-reflector-client
  !
  address-family ipv4 labeled-unicast
   route-reflector-client
  !
  address-family vpnv4 unicast
   route-reflector-client
  !
  address-family ipv6 unicast
   route-reflector-client
  !
  address-family vpnv6 unicast
   route-reflector-client
  !
  address-family link-state link-state
   route-policy pass in
   route-policy drop out
  ! 
 neighbor 10.0.0.28
  remote-as 65000
  description iBGP to r28
  update-source Loopback0
  address-family ipv4 unicast
   route-reflector-client
  !
  address-family ipv4 labeled-unicast
   route-reflector-client
  !
  address-family vpnv4 unicast
   route-reflector-client
  !
  address-family ipv6 unicast
   route-reflector-client
  !
  address-family vpnv6 unicast
   route-reflector-client
  !
 neighbor 10.0.0.29
  remote-as 65000
  description iBGP to r29
  update-source Loopback0
  address-family ipv4 unicast
   route-reflector-client
  !
  address-family ipv4 labeled-unicast
   route-reflector-client
  !
  address-family vpnv4 unicast
   route-reflector-client
  !
  address-family ipv6 unicast
   route-reflector-client
  !
  address-family vpnv6 unicast
   route-reflector-client
  !
 neighbor 10.0.0.30
  remote-as 65000
  description iBGP to r30
  update-source Loopback0
  address-family ipv4 unicast
   route-reflector-client
  !
  address-family ipv4 labeled-unicast
   route-reflector-client
  !
  address-family vpnv4 unicast
   route-reflector-client
  !
  address-family ipv6 unicast
   route-reflector-client
  !
  address-family vpnv6 unicast
   route-reflector-client
  !
 !
!
bmp server 1
 host 10.251.251 port 25511
 description jalapeno GoBMP  
 update-source Loopback0
 flapping-delay 60
 initial-delay 5
 stats-reporting-period 60
 initial-refresh delay 26 spread 2
!
mpls oam
!
segment-routing
 global-block 100000 163999
 srv6
  encapsulation
   source-address fc00:0:26::1
  !
  locators
   locator MAIN
    micro-segment behavior unode psp-usd
    prefix fc00:0:26::/48
  !
 !
!
!
netconf agent tty
!
ssh server rate-limit 600
ssh server session-limit 100
ssh server v2
ssh server vrf default
ssh server netconf vrf default
